.clients__title {
    @include text-decoration(normal, 700, 36px, 1.17, 0.03em);
    text-align: center;
}

.clients__unodered-list {
    @extend %flex;
    margin-top: 50px;
}
.clients__list {
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }
}

.clients__link  {
    @extend %flex;
    @include geometry(170px, 92px);
    @include bordered($icons-color, 4px);
    transition: border $animation-time $animation-cubic, visibility $animation-time, border-radius $animation-time $animation-cubic, visibility $animation-time;

    &:hover,
    &:focus {
        @include bordered($blue-color, 4px);
    }
}

.clients__logo {
    @include geometry(106px, 60px);
    fill: $icons-color;
    transition: fill $animation-time $animation-cubic, visibility $animation-time;

    .clients__link:hover & ,
    .clients__link:focus & {
        fill: $blue-color;
    }
}




