.section {
    padding: 94px 0px;
    background-color: $white-color;
}

.features__title{
    display: none;
}

.features__unodered-list {
    display: flex;
}

.features__list {
    margin-right: 30px; 

    &:last-child {
        margin-right: 0px;
    }
}

.features__link-title {
    margin-bottom: 10px;
    color: $main-color;
    @include text-decoration(normal, 700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.features__text{
    @include text-decoration(normal, 400, 14px, 1.71, 0.03em);
    color: $secondary-color;
}

.features__icon {
    position: relative;
    @include geometry(70px, 70px);

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 70px;
        left: 0;
    }
}

.features__box {
    @extend %flex;
    @include geometry(270px, 120px);
    margin-bottom: 30px;
    background: $team-bgc;
    border-radius: 4px;
}
