.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients__unodered-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.clients__list {
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }
}

.clients__link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid $icons-color;
    border-radius: 4px;
    transition: border $animation-time $animation-cubic, visibility $animation-time, border-radius $animation-time $animation-cubic, visibility $animation-time;

    &:hover,
    &:focus {
        border: 1px solid $blue-color;
        border-radius: 4px;
    }
}

.clients__logo {
    width: 106px;
    height: 60px;  
    fill: $icons-color;
    transition: fill $animation-time $animation-cubic, visibility $animation-time;

    .clients__link:hover & ,
    .clients__link:focus & {
        fill: $blue-color;
    }
}




