ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

h1 {
    margin: 0px;
}

 h2 {
    @extend h1;
}

h3 {
    @extend h1;
}

p {
    @extend h1;
}

body {
    font-family: $main-text-font;
    color: $main-color;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
